<h2>Log In</h2>

<%= form_with model: @user, url: '/sessions', local: true do |f| %>
  <% if @login_error %>
      <p class="error"><%= @login_error %></p>
  <% end %>

  <p>
    <%= f.text_field :username, placeholder: "username" %>
  </p>
  <p>
    <%= f.password_field :password, placeholder: "password" %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>