<h2>Register</h2>

<%= form_with model: @user, local: true do |f| %>
  <% if @user.errors.any? %>
    <p>Error!</p>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <p>
    <%= f.text_field :username, placeholder: "username" %>
  </p>
  <p>
    <%= f.password_field :password, placeholder: "password" %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>